<!doctype html>
<html xmlns=https://www.w3.org/1999/xhtml> <meta http-equiv=content-type content="text/html;charset=utf-8">

<head>
	<meta name=robots content="noindex, nofollow">
	<title>Way Fwd Fitness - Joe Howard, Personal Trainer - El Campo, TX</title>
	<meta charset=UTF-8>
	<meta name=viewport content="width=device-width,maximum-scale=1">
	{% include styles.html %}
	<link rel="icon" type="image/png" href="https://lh3.googleusercontent.com/dd_e0xA19up9208Tv6odcjHEw6z4cKAA6fTgjZ9ynkKoSnr5R4vFxI7gZp6pnZH1Vi5T5f-fphjFsrLG=s30" />
	<link rel="apple-touch-icon" href="https://lh3.googleusercontent.com/dd_e0xA19up9208Tv6odcjHEw6z4cKAA6fTgjZ9ynkKoSnr5R4vFxI7gZp6pnZH1Vi5T5f-fphjFsrLG=s30" />
	<script defer src="https://imos006-dot-im--os.appspot.com/js/imos.js?v=1.5.8d" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="http://builder.mackenocreative.com/css/fonts.css?v=1.5.8d" />
	<link id="vbid-afd77-feu2yxfx-STATIC_STYLE" rel="stylesheet" type="text/css" href="http://builder.mackenocreative.com/static_style?v=1.5.8d&amp;vbid=vbid-afd77-feu2yxfx&amp;caller=static">
	<script src="https://code.jquery.com/jquery-2.x-git.min.js" type="text/javascript"></script>
	<script src="http://builder.mackenocreative.com/js/xprs_helper.js?v=1.5.8d" type="text/javascript"></script>
	<script type="text/javascript" src="http://builder.mackenocreative.com/all_js.js?v=1.5.8d"></script>
	<script src="http://builder.mackenocreative.com/js/lib/touchswipe/jquery.mobile.custom.min.js"></script>
	<script>
		var LABEL_CONFIG = {}
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-2JVM5PXPB9"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-2JVM5PXPB9');
	</script>
	<!-- Hotjar Tracking Code for https://wayfwdfitness-mc.github.io/wayfwdfitness-mc/ -->
	<script>
		(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:2981219,hjsv:6};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
		})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
</head>

<body class="fast-animated-bg fixed-bg" data-ecommerce-solution=DISABLED data-root-id=vbid-afd77-feu2yxfx
	data-root-style-id=style-afd77-amahigy3 data-default-currency=USD data-osid=osid--f81c3b58-6844efd5
	data-app-version=1.5.8d data-caller=static data-ecommerce-dashboard=""
	data-static-server=//builder.mackenocreative.com data-imos-server=https://imos006-dot-im--os.appspot.com> <div
	id=xprs data-website-name="Joe Howard  copy" data-slug="" class=xprs-holder>
	{{ content }}
	<div class="light-box-wrapper space-layer" style=display:none tabindex=0>
		<div class=light-box-image-holder>
			<div class="light-box-image animated"></div>
			<div class=lightbox-text-wrapper>
				<div class="lightbox-text-holder animated">
					<div class=lightbox-title></div>
					<div class=lightbox-subtitle></div>
					<div id=paginator style=display:none></div>
				</div>
			</div>
		</div><img
			src="https://lh3.googleusercontent.com/EWqW7DEI4kOTRMLjK2-ObFHp-EYBt5apFYZ1LVFAhLtTLjigCRfx5hCCTKbIjIm68VQ00p9twloHJ9w8=s50"
			class="download-gallery-btn clickable" style=display:none><img
			src="https://lh3.googleusercontent.com/TgRyMQvJ3_h9RmOnu7AlhIE7NLOOBsRoBounARrs8fQv8HCRPaFtpBneSqJOSZpI6l7He_bAZKN179JBig=s50"
			class="close-lightbox-btn clickable" style=opacity:1><img
			src="https://lh3.googleusercontent.com/43-pXHjwrpmVO8Oean-6BD0uzARvcqUQrpdi7Yw2bxaXwEoP21UdN5kW6Ks9pdOxf7ropMUrh0djgYPwYPU=s50"
			class="lightbox-arrow lightbox-left clickable top-layer"><img
			src="https://lh3.googleusercontent.com/9rwgVnDglPdPFugSu98fhDmxzjXC9KovZ_7BuHkXPIv6jvg9S96flGnhL_e4y8mIpPpZQstfqEV-WitY=s50"
			class="lightbox-arrow lightbox-right clickable top-layer">
	</div>
	</div><noscript id=deferred-styles>
		<link rel=stylesheet href="https://builder.mackenocreative.com/css/effects.css?v=1.5.8d">
		<link rel=stylesheet href="https://builder.mackenocreative.com/css/lightbox.css?v=1.5.8d"></noscript>
	<script>
		var loadDeferredStyles = function () {
				var e = document.getElementById("deferred-styles"),
					t = document.createElement("div");
				t.innerHTML = e.textContent, document.body.appendChild(t), e.parentElement.removeChild(e)
			},
			raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
		raf ? raf(function () {
			window.setTimeout(loadDeferredStyles, 0)
		}) : window.addEventListener("load", loadDeferredStyles)
	</script>
	<script src="https://builder.mackenocreative.com/js/lightbox.js?v=1.5.8d"></script>
	<script src="https://builder.mackenocreative.com/js/spimeengine.js?v=1.5.8d"></script>
</body>

</html>